:host {
  cdk-virtual-scroll-viewport {
    height: 70vh;
    width: 25vw;
  }

  @media screen and (max-width: 1280px) {
    cdk-virtual-scroll-viewport {
      height: 70vh;
      width: 75vw;
    }
  }
}
